<ion-header>
  <ion-toolbar>
    <ion-title>
      Listado de Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container-search">
    <h3>Buscar datos</h3>
    <form [formGroup]="searchUserForm" (ngSubmit)="onSubmit()" class="form-search">
        <ion-input type="email" placeholder="Email usuario" formControlName="emailUser" [ngClass]="{ 'is-invalid': submitted && f.emailUser.errors }"></ion-input>
        <div *ngIf="submitted && f.emailUser.errors">
          <div *ngIf="f.emailUser.errors.required" class="error">Email usuario es requerido</div>
        </div>
      
        <ion-input type="text" placeholder="App" formControlName="app" [ngClass]="{ 'is-invalid': submitted && f.app.errors }"></ion-input>
        <div *ngIf="submitted && f.app.errors">
          <div *ngIf="f.app.errors.required" class="error">App es requerido</div>
        </div>
      
      <div *ngIf="error" class="alert error">{{error}}</div>
      <div class="content-button">
        <button ion-button class="btn-yellow">Buscar</button>
      </div>
      <div class="loading" *ngIf="loading">
        <ion-img width="30" height="30" src="assets/icon/loading.gif"></ion-img>
      </div>
    </form>

  </div>

  <div>
      <h3>Resultados</h3>
      <div class="container-filter" *ngIf="isRows">
        <div class="filter">
          <p>Filtrar por BookingId</p>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-select placeholder="Filtro" [(ngModel)]="filterId" interface="popover">
                    <ion-select-option *ngFor="let item of optionsFilter" [value]="item">{{item}}</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col>
                <ion-input [(ngModel)]="inpuId" type="text" placeholder="Booking Id"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="filter">
          <p>Filtrar por Precio</p>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-select placeholder="Filtro" [(ngModel)]="filterPrice" interface="popover">
                    <ion-select-option *ngFor="let item of optionsFilter" [value]="item">{{item}}</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col>
                <ion-input [(ngModel)]="inputPrice" type="text" placeholder="Precio"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="button-filter">
          <div class="content-button">
            <button ion-button (click)="filterTable()" class="btn-yellow">Filtrar</button>
          </div>
        </div>
      </div>
  </div>

  <ion-card (click)="expandItem()" *ngFor="let row of rows">
    <ion-card-content>
      <p class="price">${{row.price}}</p>
      <ion-card-title>Id: {{row.id}}</ion-card-title>
      <ion-label>{{row.client}}</ion-label>
      <p>{{row.address}}</p>
      <p>Fecha creación: {{row.createDate}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
